/* CSS reset */
* {

    margin: 0;
    padding: 0;
}

body {

    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    color: #10001F;
    background-color: #f9f9f9;
}

/* Header */
header {

    padding: 20px;
    background: linear-gradient(0deg, rgba(169, 104, 237, 1) 0%, rgba(245, 130, 174, 1) 100%);
    color: #f9f9f9;
    text-align: center;
}

header h1 {

    font-size: 24px;
    margin-top: 10px;
}

header p {

    font-size: 14px;
    margin-top: 5px;
}

header nav ul li {

    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

header nav ul li a {

    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
}

/* Sessão */

section {

    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

section h2 {

    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

section form {

    text-align: center;
}

article {

    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

article a {

    text-decoration: none;
    font-weight: bold;
    color: darkviolet;
}

article a:hover {

    color: deeppink;
}

/* Footer */
footer {

    color: gray;
    text-align: center;
}

footer a {

    text-decoration: none;
    color: #10001F;
    font-weight: bold;
}

footer a:hover {

    text-decoration: underline;
}